<a id="tplinksmartplug_indicator" class="pull-right" title="TPLink Smartplug" href=#" data-bind="click: toggleRelay,visible: (ip() !== ''),style: {color: relayState()}" style="display: none;">
    <i class="icon-bolt"></i>
</a>
