<div id="tplinksmartplugs" class="row-fluid" data-bind="foreach: filteredSmartplugs">
	<div class="row-fluid" data-bind="css: currentState()">
		Plug: <strong data-bind="text: label"></strong><br/>
		Current Power: <strong data-bind="text: $parent.get_power($data)"></strong> W<br/>
		Total Consumption: <strong data-bind="text: $parent.get_kwh($data)"></strong> kWh
	</div>
</div>