<div id="tplinksmartplugs" class="row-fluid" data-bind="foreach: arrSmartplugs">
	<!-- ko if: emeter.get_realtime -->
		<div class="row-fluid" data-bind="style: { color: currentState() === 'on' ? '#000' : '#AAA' }">
			Plug: <strong data-bind="text: label"></strong><br/>
			Current Power: <strong data-bind="text: $parent.get_power($data)"></strong> W<br/>
			Total Consumption: <strong data-bind="text: $parent.get_kwh($data)"></strong> kWh
		</div>
	<!-- /ko -->
</div>