<h4>{{ _('TP-Link Smartplug Settings') }}</h4>
<table class="table table-condensed">
	<thead>
		<tr>
			<td>{{ _('Plug') }}</td>
			<td style="text-align:center">{{ _('Options') }}</td>
			<td style="text-align:center"><a href="#" class="btn btn-mini" data-bind="click: addPlug"><i class="fas fa-plus" aria-hidden="true"></i></a></td>
		</tr>
	</thead>
	<tbody data-bind="sortable: { data: settings.settings.plugins.tplinksmartplug.arrSmartplugs, options: { cancel: '.unsortable', handle: '.movePlug', axis:'y'} }">
		<tr data-bind="attr: {title: ip}, css: {error: ip().match(/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/[0-9]+)?$/) == null}">
			<td><span data-bind="text: label" /></td>
			<td style="text-align:center">
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': automaticShutdownEnabled(),'fa-square': !automaticShutdownEnabled()}, tooltip: {}" title="{{ _('Automatic Power Off Enabled') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': event_on_upload(),'fa-square': !event_on_upload()}, tooltip: {}" title="{{ _('Automatic Power On Enabled') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': displayWarning(),'fa-square': !displayWarning()}, tooltip: {}" title="{{ _('Warning Prompt') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': warnPrinting(),'fa-square': !warnPrinting()}, tooltip: {}" title="{{ _('Warn While Printing') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': thermal_runaway(),'fa-square': !thermal_runaway()}, tooltip: {}" title="{{ _('Thermal Runaway') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': autoConnect(),'fa-square': !autoConnect()}, tooltip: {}" title="{{ _('Auto Connect') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': autoDisconnect(),'fa-square': !autoDisconnect()}, tooltip: {}" title="{{ _('Auto Disconnect') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': gcodeEnabled(),'fa-square': !gcodeEnabled()}, tooltip: {}" title="{{ _('GCODE Trigger') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': sysCmdOn(),'fa-square': !sysCmdOn()}, tooltip: {}" title="{{ _('Run System Command On') }}"></i>
				<i class="far" data-toggle="tooltip" data-bind="css: {'fa-check-square': sysCmdOff(),'fa-square': !sysCmdOff()}, tooltip: {}" title="{{ _('Run System Command Off') }}"></i></td>
			<td style="text-align:center">
				<div class="btn-group">
					<a href="#" class="btn btn-mini movePlug"><i class="fas fa-arrows-alt" aria-hidden="true"></i></a>
					<a href="#" class="btn btn-mini" data-bind="click: $root.editPlug"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
					<a href="#" class="btn btn-mini btn-danger" data-bind="click: $root.removePlug"><i class="fas fa-times" aria-hidden="true"></i></a>
				</div>
				</td>
		</tr>
	</tbody>
</table>

<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label">{{ _('Username') }}</label>
				<div class="controls">
					<input type="text" class="input input-block-level" title="{{ _('Tapo/newer devices may require username and password.') }}" data-toggle="tooltip" data-bind="value: settings.settings.plugins.tplinksmartplug.username, tooltip: {}" />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tplinksmartplug.thermal_runaway_monitoring, tooltip: {}" title="{{ _('When enabled if temperatures exceed configured maximums enabled plugs will be powered off.') }}" /> {{ _('Enable thermal runaway monitoring.') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tplinksmartplug.thermal_runaway_monitoring">
			<div class="control-group span6">
				<label class="control-label">{{ _('Max Bed Temp') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Maximum temperature bed can reach before automatic power off is triggered.') }}">
						<input type="number" min="0" class="input input-mini" data-bind="value: settings.settings.plugins.tplinksmartplug.thermal_runaway_max_bed, enable: settings.settings.plugins.tplinksmartplug.thermal_runaway_monitoring()" disabled />
						<span class="add-on">{{ _('degs') }}</span>
					</div>
				</div>
			</div>
			<div class="control-group span6">
				<label class="control-label">{{ _('Max Extruder Temp') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Maximum temperature extruders can reach before automatic power off is triggered.') }}">
						<input type="number" min="0" class="input input-mini" data-bind="value: settings.settings.plugins.tplinksmartplug.thermal_runaway_max_extruder, enable: settings.settings.plugins.tplinksmartplug.thermal_runaway_monitoring()" disabled />
						<span class="add-on">{{ _('degs') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled the status of plugs will be checked based on the Polling Interval supplied.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tplinksmartplug.pollingEnabled, tooltip: {}" /> {{ _('Enable polling of status.') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tplinksmartplug.pollingEnabled">
			<div class="control-group span6">
				<label class="control-label">{{ _('Polling Interval') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('How long to wait between status checks of all plugs when polling is enabled.') }}">
						<input type="number" min="0" class="input input-mini" data-bind="value: settings.settings.plugins.tplinksmartplug.pollingInterval, enable: settings.settings.plugins.tplinksmartplug.pollingEnabled" disabled />
						<span class="add-on">{{ _('mins') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled the status of plugs will be checked during print progress.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tplinksmartplug.progress_polling, tooltip: {}" /> {{ _('Enable polling during print progress.') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('Put all control buttons in a drop-down menu.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tplinksmartplug.useDropDown, tooltip: {}" /> {{ _('Use Drop Down Menu in Navbar.') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label">{{ _('Cost per kWh') }}</label>
				<div class="controls">
					<input type="number" min="0" step="0.001" class="input input-mini" title="{{ _('Amount used to multiply total kWh by to estimate power cost.') }}" data-toggle="tooltip" data-bind="value: settings.settings.plugins.tplinksmartplug.cost_rate, tooltip: {}" />
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label">{{ _('Password') }}</label>
				<div class="controls">
					<input type="password" class="input input-block-level" title="{{ _('Tapo/newer devices may require username and password.') }}" data-toggle="tooltip" data-bind="value: settings.settings.plugins.tplinksmartplug.password, tooltip: {}" />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="control-label">
					{{ _('Power Off on Idle Options') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group span6">
				<label class="control-label">{{ _('Abort Power Off Timeout') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Pop up will be displayed for this amount of time to allow for cancelling power off of plugs.') }}">
						<input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.tplinksmartplug.abortTimeout" />
						<span class="add-on">{{ _('secs') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group span6">
				<label class="control-label">{{ _('Idle Timeout') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Amount of time that will lapse before printer is considered idle and plugs will be powered off.') }}">
						<input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.tplinksmartplug.idleTimeout" />
						<span class="add-on">{{ _('mins') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group span6">
				<label class="control-label">{{ _('Idle Target Temperature') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Power off will be delayed untill all heaters reach this temperature.') }}">
						<input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.tplinksmartplug.idleTimeoutWaitTemp" />
						<span class="add-on">{{ _('degs') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label">{{ _('Heaters to Ignore for Idle') }}</label>
				<div class="controls" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Comma separated list of heaters to ignore for idle temperature. ie, for Prusa MK4 include X.') }}">
					<input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.tplinksmartplug.idleIgnoreHeaters" />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label">{{ _('GCode Commands to Ignore for Idle') }}</label>
				<div class="controls" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Comma separated list of gcode commands to ignore for determining printer idle state.') }}">
					<input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.tplinksmartplug.idleIgnoreCommands" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
			<input type="checkbox" title="{{ _('Enable custom debug logging to assist with troubleshooting.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tplinksmartplug.debug_logging, tooltip: {}"> {{ _('Enable debug logging.') }}
			</label>
		</div>
	</div>
</div>

<div id="TPLinkPlugEditor" data-bind="with: selectedPlug" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>{{ _('TP-Link Smartplug Editor') }}</h3>
	</div>
	<div class="modal-body">
		<table class="table table-condensed">
			<tr>
                <td><div class="control-group" data-bind="css: {error: ip().match(/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/[1-6])?$/) == null}"><div class="controls"><label class="control-label">{{ _('IP') }}</label><input type="text" class="input-block-level" title="{{ _('IP address of plug on network. For multiple plug devices append /1, /2, /# that corresponds to the Plug # label on the device or in the Kasa app.') }}" data-toggle="tooltip" data-bind="textInput: ip, tooltip: {container: '#TPLinkPlugEditor'}" /></div></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Icon') }}</label><input type="text" class="input-block-level" title="{{ _('Icon to use for button in navbar.') }}" data-toggle="tooltip" data-bind="value: icon, iconpicker: icon,iconpickerOptions: {hideOnSelect: true, collision: true}, tooltip: {container: '#TPLinkPlugEditor'}" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Label') }}</label><input type="text" class="input-block-level" title="{{ _('Label to display on hovering mouse over button in navbar.') }}" data-toggle="tooltip" data-bind="value: label, tooltip: {container: '#TPLinkPlugEditor'}" /></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Display a confirmation prompt when powering off plug using button in navbar.') }}" data-toggle="tooltip" data-bind="checked: displayWarning, container: '#TPLinkPlugEditor'"/> {{ _('Warning Prompt') }}</label></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Display a confirmation prompt when powering off plug using button in navbar while printing. This option will also delay powering off plug until print completion when triggered from GCODE/@ commands') }}" data-toggle="tooltip" data-bind="checked: warnPrinting, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Warn While Printing') }}</label></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power off this plug when temperatures exceed configured maximum temperatures.') }}" data-toggle="tooltip" data-toggle="tooltip" data-bind="checked: thermal_runaway, enable: $root.settings.settings.plugins.tplinksmartplug.thermal_runaway_monitoring(), tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Thermal Runaway') }}</label></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power off this plug when Power Off on Idle is enabled and configured timeouts and temperatures are reached.') }}" data-toggle="tooltip" data-bind="checked: automaticShutdownEnabled, tooltip: {container: '#TPLinkPlugEditor'}" /> {{ _('Off on Idle') }}</label></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power off this plug on error.') }}" data-toggle="tooltip" data-bind="checked: event_on_error, tooltip: {container: '#TPLinkPlugEditor'}" /> {{ _('Off on Error') }}</label></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power off this plug when Shutdown Event occurs.') }}" data-toggle="tooltip" data-bind="checked: event_on_shutdown, tooltip: {container: '#TPLinkPlugEditor'}" /> {{ _('Off with Shutdown') }}</label></div></td>
			</tr>
			<tr>
			    <td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power on this plug when Startup Event occurs.') }}" data-toggle="tooltip" data-bind="checked: event_on_startup, tooltip: {container: '#TPLinkPlugEditor'}" /> {{ _('On with Startup') }}</label></div></td>
			    <td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power on this plug when attempting to connect to printer.') }}" data-toggle="tooltip" data-bind="checked: connect_on_connect, tooltip: {container: '#TPLinkPlugEditor'}"  /> {{ _('On with Connect') }}</label></div></td>
			    <td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically power on this plug when Upload Event occurs.') }}" data-toggle="tooltip" data-bind="checked: event_on_upload, tooltip: {container: '#TPLinkPlugEditor'}" /> {{ _('On with Upload') }}</label></div></td>
            </tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically connect to printer after powering on this plug and waiting for configured delay.') }}" data-toggle="tooltip" data-bind="checked: autoConnect, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Auto Connect') }}</label><div class="input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TPLinkPlugEditor'}" title="{{ _('Amount of time to wait before attempting to connect to printer.') }}"><input type="number" data-bind="value: autoConnectDelay,enable: autoConnect" class="input input-mini" disabled /><span class="add-on">{{ _('secs') }}</span></div></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Automatically disconnect from printer before waiting configured delay and powering off this plug.') }}" data-toggle="tooltip" data-bind="checked: autoDisconnect, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Auto Disconnect') }}</label><div class="input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TPLinkPlugEditor'}" title="{{ _('Amount of time to wait after disconnecting.') }}"><input type="number" data-bind="value: autoDisconnectDelay,enable: autoDisconnect" class="input input-mini" disabled /><span class="add-on">{{ _('secs') }}</span></div></div></td>
                <td></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('When enabled special GCODE commands can be monitored to power this plug on and off.') }}" data-toggle="tooltip" data-bind="checked: gcodeEnabled, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('GCODE Trigger') }}</label></div></td>
				<td><div class="controls" data-bind="visible: gcodeEnabled()"><label class="control-label">{{ _('GCODE On Delay') }}</label><div class="input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TPLinkPlugEditor'}" title="{{ _('Amount of time to wait after receiving GCODE command for powering on this plug.') }}"><input type="number" data-bind="value: gcodeOnDelay, enable: gcodeEnabled()" class="input input-mini" disabled /><span class="add-on">{{ _('secs') }}</span></div></div></td>
				<td><div class="controls" data-bind="visible: gcodeEnabled()"><label class="control-label">{{ _('GCODE Off Delay') }}</label><div class="input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TPLinkPlugEditor'}" title="{{ _('Amount of time to wait after receiving GCODE command for powering off this plug.') }}"><input type="number" data-bind="value: gcodeOffDelay, enable: gcodeEnabled()" class="input input-mini" disabled /><span class="add-on">{{ _('secs') }}</span></div></div></td>
			</tr>
			<tr>
				<td colspan="3" style="vertical-align: bottom"><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Run gcode command after powering on this plug.') }}" data-toggle="tooltip" data-bind="checked: gcodeCmdOn, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Run GCODE Commands After On') }}</label></div></td>
			</tr>
            <tr>
                <td colspan="3" style="vertical-align: bottom"><textarea type="text" title="{{ _('GCODE command to run after powering on this plug. Separate multiple commands using a ,.') }}" data-toggle="tooltip" data-bind="value: gcodeRunCmdOn, visible: gcodeCmdOn, enable: gcodeCmdOn(), tooltip: {container: '#TPLinkPlugEditor'}" class="input-block-level" disabled></textarea></td>
            </tr>
			<tr>
				<td colspan="3" style="vertical-align: bottom"><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Run gcode command before powering off this plug.') }}" data-toggle="tooltip" data-bind="checked: gcodeCmdOff, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Run GCODE Commands Before Off') }}</label></div></td>
			</tr>
            <tr>
                <td colspan="3" style="vertical-align: bottom"><textarea type="text" title="{{ _('GCODE command to run before powering off this plug.') }}" data-toggle="tooltip" data-bind="value: gcodeRunCmdOff, visible: gcodeCmdOff, enable: gcodeCmdOff(), tooltip: {container: '#TPLinkPlugEditor'}" class="input-block-level" disabled></textarea></td>
            </tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom"><div class="controls"><label class="checkbox"><input type="checkbox" title="{{ _('Run system command after powering on this plug and waiting configured delay.') }}" data-toggle="tooltip" data-bind="checked: sysCmdOn, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Run System Command After On') }}</label><input type="text" title="{{ _('System command to run after powering on this plug.') }}" data-toggle="tooltip" data-bind="value: sysRunCmdOn, visible: sysCmdOn, enable: sysCmdOn(), tooltip: {container: '#TPLinkPlugEditor'}" class="input-block-level" disabled /></div></td>
				<td style="vertical-align: bottom"><div class="controls" data-toggle="tooltip" data-bind="visible: sysCmdOn"><label class="control-label">{{ _('Delay') }}</label><div class="input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TPLinkPlugEditor'}" title="{{ _('Amount of time to wait before running configured system command after power on.') }}"><input type="number" data-bind="value: sysCmdOnDelay, enable: sysCmdOn()" class="input input-mini" disabled /><span class="add-on">{{ _('secs') }}</span></div></div></td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom"><div class="controls" data-bind="visible: sysCmdOff"><label class="checkbox"><input type="checkbox" title="{{ _('Run system command after powering off this plug and waiting configured delay.') }}" data-toggle="tooltip" data-bind="checked: sysCmdOff, tooltip: {container: '#TPLinkPlugEditor'}"/> {{ _('Run System Command Before Off') }}</label><input type="text" title="{{ _('System command to run after powering off this plug.') }}" data-toggle="tooltip" data-bind="value: sysRunCmdOff, visible: sysCmdOff, enable: sysCmdOff(), tooltip: {container: '#TPLinkPlugEditor'}" class="input-block-level" disabled /></div></td>
				<td style="vertical-align: bottom"><div class="controls" data-toggle="tooltip" data-bind="visible: sysCmdOff"><label class="control-label">{{ _('Delay') }}</label><div class="input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TPLinkPlugEditor'}" title="{{ _('Amount of time to wait before running configured system command after power off.') }}"><input type="number" data-bind="value: sysCmdOffDelay, enable: sysCmdOff()" class="input input-mini" disabled /><span class="add-on">{{ _('secs') }}</span></div></div></td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<small>Make sure to click save in the main settings after making changes here.</small> <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
