<div class="tplinksettings">
    <h4>TP-Link Smartplug Settings</h4>
	<table>
		<thead>
			<tr>
				<th>IP/Hostname</th>
				<th>Process GCODE</th>
				<th>Auto Connect On</th>
				<th>Auto Connect Off</th>
				<th>Connect On Cmd</th>
				<th>Connect Off Cmd</th>
				<th />
			</tr>
		</thead>
		<tbody data-bind='foreach: settings.settings.plugins.tplinksmartplug.arrSmartPlugs'>
			<tr>
				<td><input data-bind='value: ip, uniqueName: true' /></td>
				<td><input type="checkbox" data-bind="checked: gcodeEnabled"/></td>
				<td><input type="checkbox" data-bind="checked: autoConnect"/></td>
				<td><input type="checkbox" data-bind="checked: autoDisconnect"/></td>
				<td><input data-bind="value: sysCmdOn" /></td>
				<td><input data-bind="value: sysCmdOff" /></td>
				<td><a href='#' data-bind='click: $root.removePlug'>Delete</a></td>
			</tr>
		</tbody>
	</table>
	<button data-bind='click: addPlug'>Add Plug</button>
</div>