#navbar_plugin_tplinksmartplug > a > i.on {
	color: #00FF00 !important;
}

#navbar_plugin_tplinksmartplug > a > i.off {
	color: #FF0000 !important;
}

#navbar_plugin_tplinksmartplug > a > i.unknown {
	color: #808080 !important;
}

#TPLinkPlugEditor table th, #TPLinkPlugEditor table td {
	border-top: none;
	vertical-align: top;
}

div#tplinksmartplugs div:not(:last-child) {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

div#tplinksmartplugs {
	padding-bottom: 10px;
}

#sidebar_plugin_tplinksmartplug_wrapper > div.accordion-heading {
	line-height: 30px;
}

#sidebar_plugin_tplinksmartplug_wrapper > div.accordion-heading > div.accordion-heading-button.btn-group {
	padding-right: 10px;
}

#sidebar_plugin_tplinksmartplug_wrapper > div.accordion-heading > div.accordion-heading-button.btn-group > a.fa.fa-lg {
	font-size: 18px;
	line-height: 30px;
	padding: 8px 8px;
}

#sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.on {
	color: #000;
}

#sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.off {
	color: #AAA;
}

#sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.unknown {
	color: #AAA;
}

#tab_plugin_tplinksmartplug .js-plotly-plot .plotly .modebar {
	z-index: 100 !important;
}

#touch body #tabs #tab_plugin_tplinksmartplug_link a:before, #touch body #navbar #all_touchui_settings #tab_plugin_tplinksmartplug_link a:before,#touch body #tabs #tab_plugin_tplinksmartplug_link2 a:before, #touch body #navbar #all_touchui_settings #tab_plugin_tplinksmartplug_link2 a:before {
	content: "\f080";
}

#touch body #tabs #sidebar_plugin_tplinksmartplug_wrapper_link a:before, #touch body #navbar #all_touchui_settings #sidebar_plugin_tplinksmartplug_wrapper_link a:before,#touch body #tabs #sidebar_plugin_tplinksmartplug_wrapper_link2 a:before, #touch body #navbar #all_touchui_settings #sidebar_plugin_tplinksmartplug_wrapper_link2 a:before {
	content: "\f1e6";
}

#touch body #sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.on {
	color: #FFFFFF;
}

#touch body #navbar .navbar-inner .container .nav li.dropdown#all_touchui_settings #navbar_plugin_tplinksmartplug a:before {
	display: none;
}

#touch body #navbar_plugin_tplinksmartplug > a > i {
	padding-left: 1px;
	font-size: 1.25rem!important;
}

body #navbar_plugin_tplinksmartplug > a > span {
	display:none;
}

#touch body #navbar_plugin_tplinksmartplug > a > span {
	display: inline;
	position: absolute;
	left: 52px;
	line-height: 34px;
}

#TPLinkPlugEditor div.modal-body {
	/*overflow: visible !important;*/
}

@media (max-width: 800px) {
	#touch body #tab_plugin_tplinksmartplug_link {
		display:none;
	}

	#touch body #tab_plugin_tplinksmartplug_link2 {
		display:none;
	}

	#touch body #tab_plugin_tplinksmartplug {
		display:none;
	}
}
