#navbar_plugin_tplinksmartplug > a > i.on {
	color: #00FF00 !important;
}

#navbar_plugin_tplinksmartplug > a > i.off {
	color: #FF0000 !important;
}

#navbar_plugin_tplinksmartplug > a > i.unknown {
	color: #808080 !important;
}

#TPLinkPlugEditor table th, #TPLinkPlugEditor table td {
	border-top: none;
	vertical-align: top;
}

div#tplinksmartplugs div:not(:last-child) {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

#sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.on {
	color: #000;
}

#sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.off {
	color: #AAA;
}

#sidebar_plugin_tplinksmartplug > div.accordion-inner > #tplinksmartplugs > div > div.unknown {
	color: #AAA;
}

#tab_plugin_tplinksmartplug .js-plotly-plot .plotly .modebar {
	z-index: 100 !important;
}
